<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/PedometerSample" version="2.2.0" viewmodes="fullscreen">
    <tizen:application id="g8jcS91Fgv.PedometerSample" package="g8jcS91Fgv" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.320.320"/>
    <icon src="icon.png"/>
    <name>PedometerSample</name>
    <tizen:privilege name="http://developer.samsung.com/privilege/healthinfo"/>
    <tizen:privilege name="http://tizen.org/privilege/healthinfo"/>
    <tizen:privilege name="http://tizen.org/privilege/medicalinfo"/>
    <!--gives PRIVLEGE_LEVEL_VIOLATION  
    <tizen:privilege name="http://developer.samsung.com/privilege/medicalinfo"/>
    -->
    <tizen:setting background-support="enable"/>
    <tizen:setting hwkey-event="enable"/>
</widget>
